:root {
  --fa-primary-color: #16f;
  --fa-secondary-color: red;
  --fa-border-color: transparent;
  --fa-counter-background-color: transparent;

}
body{
    font-family: "Ubuntu";
}
.nav-link active{
    color: black;
    background-color: black;
}
.introduction{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 100px;
    font-size: 3.5rem;
    line-height: 1.5;
}
.avatar{
    width: 500px;
    height: 500px;
}
.footer{
    margin-top: 100px;
}
.skills-card{

}
i::before{

}
#websites{
    padding: 5% 5%;
    text-align: center;
}
.carousel-control-prev-icon {
    position: absolute center;
    filter: invert(100%);
}
.carousel-control-next-icon {
    position: absolute center;
    filter: invert(100%);
}
.website-image{
    width: 836px;
    height: 372px;
    text-align: center;
}
#telegram{
    padding: 5% 5%;
    text-align: center;
}
#telegram-bot{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
#bot-picture{
    height: 200px;
    width: 200px;
}
#skills{
    padding: 5% 5%;

}
#testimonials{
    padding: 5% 5%;
    text-align: center;
}
#testimonials-text{
    padding: 3%;
}
#footer{
    padding: 5% 5% 0%;
    text-align: center;
}